<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<div class="container mt-3 mb-4">
<div class="col-lg-9 mt-4 mt-lg-0">
    <div class="row">
      <div class="col-md-12">
        <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
          <table class="table manage-candidates-top mb-0">
            <thead>
               <tr>
                  <th>
                     <a class="action text-left" href="#"(click)="openAddEmployee(addEmployee)">Add Employee</a>
                  </th>
               </tr>
              <tr>
                <th class="action text-left"> Candidate Name</th>
                <th class="action text-right">Action</th>
              </tr>
            </thead>
            <tbody *ngFor="let employee of employees">
                  <tr  class="candidates-list">
                     <td class="title">
                        <div class="thumb">
                        <img class="img-fluid" src={{employee?.imageUrl}} alt="">
                        </div>
                        <div class="candidate-list-details">
                        <div class="candidate-list-info">
                           <div class="candidate-list-title">
                              <h5 class="mb-0"><a>{{employee?.name}}</a></h5>
                           </div>
                           <div class="candidate-list-option">
                              <ul class="list-unstyled">
                                 <li><i class="fas fa-filter pr-1"></i><b>{{employee?.jobTitle}}</b></li>
                                 <li><i class="fa fa-phone"></i><b>{{" " + employee?.phoneNum}}</b></li>
                                 <li><i class="fas fa-envelope-square"></i><b>{{" " + employee?.email}}</b></li>
                              </ul>
                           </div>
                        </div>
                        </div>
                     </td>
                     <td>
                        <ul class="list-unstyled mb-0 d-flex justify-content-end candidate-list-title">
                           <li><a (click)="openEditEmployee(editEmployee, employee)" href="#" class="text-info" data-toggle="tooltip" title="" data-original-title="Edit"><i class="fas fa-pencil-alt"></i></a></li>
                           <li><a (click)="onDeleteEmployee(employee.id)" href="#" class="text-danger" data-toggle="tooltip" title="" data-original-title="Delete"><i class="far fa-trash-alt"></i></a></li>
                        </ul>
                     </td>
                  </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #addEmployee let-modal>
   <div class="modal-header">
     <h4 class="modal-title" id="modal-basic-title">New Employee</h4>
   </div>
   <div class="modal-body">
      <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
      <div class="form-group">
         <label for="name">Name</label>
         <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name" required>
      </div>
      <div class="form-group">
         <label for="email">Email Address</label>
         <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
      </div>
      <div class="form-group">
         <label for="phone">Job title</label>
         <input type="text" ngModel name="jobTitle" class="form-control" id="jobTile" placeholder="Job title" required>
      </div>
      <div class="form-group">
         <label for="phone">Phone</label>
         <input type="text" ngModel name="phoneNum" class="form-control" id="phoneNum" placeholder="Phone" required>
      </div>
      <div class="form-group">
         <label for="phone">Image URL</label>
         <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" required>
      </div>
      <div class="modal-footer">
         <button type="button" id="" data-dismiss="modal" class="btn btn-secondary" (click)=" modal.dismiss(addEmployee)">Close</button>
         <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" (click)=" modal.dismiss(addEmployee)">Save changes</button>
      </div>
      </form>
   </div>
 </ng-template>

 <ng-template #editEmployee let-modal>
   <div class="modal-header">
     <h4 class="modal-title" id="updateEmployeeModal">Edit Employee</h4>
   </div>
   <div class="modal-body">
      <form #editForm="ngForm" (ngSubmit)="onUpdateEmployee(editForm.value, editEmployee)">
         <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel="{{newEmployee?.name}}" name="name" class="form-control" id="name" placeholder="Name" required>
         </div>
         <input type="hidden" ngModel="{{newEmployee?.id}}" name="id" class="form-control" id="id" placeholder="Email">
         <input type="hidden" ngModel="{{newEmployee?.employeeCode}}" name="employeeCode" class="form-control" id="employeeCode" placeholder="Email">
         <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" ngModel="{{newEmployee?.email}}" name="email" class="form-control" id="email" placeholder="Email" required>
         </div>
         <div class="form-group">
            <label for="phone">Job title</label>
            <input type="text" ngModel="{{newEmployee?.jobTitle}}" name="jobTitle" class="form-control" id="jobTile" placeholder="Job title" required>
         </div>
         <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" ngModel="{{newEmployee?.phoneNum}}" name="phoneNum" class="form-control" id="phoneNum" placeholder="Phone" required>
         </div>
         <div class="form-group">
            <label for="phone">Image URL</label>
            <input type="text" ngModel="{{newEmployee?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" required>
         </div>
         <div class="modal-footer">
            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary" (click)=" modal.dismiss(editEmployee)">Close</button>
            <button data-dismiss="modal" class="btn btn-primary" (click)=" modal.dismiss(editEmployee)">Save changes</button>
         </div>
         </form>
   </div>
 </ng-template>
 